body {
    margin: 10rem auto;
    width: 50%;
    text-align: center;
}

h1 {
    font-size: 5rem;
}

body>div {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.5rem;
    line-height: 2;
}

button {
    font-size: 1.8rem;
    width: 50%;
    margin: 2rem auto;
}

p {
    font-size: 4rem;
}